version: '3.6'

services:
  ################################################################
  #                        Services                              #
  ################################################################
  traefik:
    image: 'traefik:v2.2'
    container_name: traefik
    environment:
      - TZ=${TZ}
    command:
      - '--entryPoints.http.address=:80'
      - '--providers.docker=true'
      - '--providers.docker.exposedByDefault=false'
      - '--api.insecure=true'
      - '--api.dashboard=true'
      - '--accesslog=true'
    ports:
      - '80:80'
      - '8080:8080'
    labels:
      - 'traefik.http.routers.traefik.rule=Host(`${ROOT_URL}`)'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  ################################################################
  #                     Monitoring                               #
  ################################################################
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    hostname: prometheus
    restart: always
    environment:
      - 'TZ=${TZ}'
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.external-url=http://${ROOT_URL}/prometheus'
    expose:
      - '9090'
    ports:
      - '9091:9090'
    volumes:
      - './config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.prometheus.rule=Host(`${ROOT_URL}`) && PathPrefix(`/prometheus`)'
      - 'traefik.http.services.prometheus.loadbalancer.server.port=9090'
  ################################################################
  #                     Media Server                             #
  ################################################################
  qbittorrent:
    image: 'linuxserver/qbittorrent'
    container_name: qbit
    restart: always
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
      - UMASK_SET=022
      - WEBUI_PORT=8080
    expose:
      - '8080'
    volumes:
      - '${USERDIR}/volumes/qbittorrent/config:/config:z'
      - '${USERDIR}/Downloads/completed:/downloads'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.qbittorrent.rule=Host(`${ROOT_URL}`) && PathPrefix(`/qb`)'
      - 'traefik.http.services.qbittorrent.loadbalancer.server.port=8080'
      - 'traefik.http.middlewares.qb-redirect.redirectregex.regex=^(.*)/qb$$'
      - 'traefik.http.middlewares.qb-redirect.redirectregex.replacement=$$1/qb/'
      - 'traefik.http.middlewares.qb-strip.stripprefix.prefixes=/qb/'
      - 'traefik.http.middlewares.qb-headers.headers.customrequestheaders.X-Frame-Options=SAMEORIGIN'
      - 'traefik.http.middlewares.qb-headers.headers.customrequestheaders.Referer='
      - 'traefik.http.middlewares.qb-headers.headers.customrequestheaders.Origin='
      - 'traefik.http.routers.qbittorrent.middlewares=qb-strip,qb-redirect,qb-headers'
      - 'traefik.http.services.qbittorrent.loadbalancer.passhostheader=false'

  grafana:
    image: grafana:grafana:latest
    container_name: grafana
    hostname: grafana
    restart: always
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
      - 'GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana'
      - 'GF_SERVER_SERVE_FROM_SUB_PATH=true'
    expose:
      - '3000'
    volumes:
      - '${USERDIR}/volumes/grafana/data:/var/lib/grafana:z'
      - './grafana/plugins:/var/lib/grafana/plugins:rw'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.prometheus.rule=Host(`${ROOT_URL}`) && PathPrefix(`/grafana`)'
      - 'traefik.http.services.grafana.loadbalancer.server.port=3000'

  ################################################################
  #                       Storage                                #
  ################################################################
  victoria-metrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoria-metrics
    restart: always
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    expose:
      - '8428'
    volumes:
      - '${USERDIR}/volumes/victoria-metrics/data:/victoria-metrics-data:z'
